[submodule "deps/zutai"]
	path = deps/zutai
	url = https://github.com/iceice666/zutai.git
[submodule "deps/sel4"]
	path = deps/sel4
	url = https://github.com/iceice666/seL4.git
[submodule "deps/rust-sel4"]
	path = deps/rust-sel4
	url = https://github.com/iceice666/rust-sel4.git
